@model EmployeeInfo.Models.Employee
@{ ViewData["Title"] = "Edit Employee"; }

<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <h3>Edit Employee</h3>
        <a
          class="btn btn-outline-primary"
          asp-area=""
          asp-controller="Employee"
          asp-action="Index"
        >
          All Employee
        </a>
      </div>
    </div>
    <div class="card-body">
      <form asp-action="Edit" >
        <div class="mb-3">
          <label for="name" class="form-label">Profile Url</label>
          <input
            type="text"
            class="form-control"
            placeholder="enter your full name"
            name="ProfileUrl"
            value="@Model.ProfileUrl"
          />
          <span asp-validation-for="ProfileUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="enter your full name"
            name="FullName"
            value="@Model.FullName"
          />
          <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="enter your email adress"
            name="Email"
            value="@Model.Email"
          />
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Salary</label>
          <input
            type="number"
            class="form-control"
            placeholder="update your salary"
            name="Salary"
            step="0.5"
            value="@Model.Salary"
          />
          <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <button class="btn btn-outline-success" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
